VITE_API_URL=http://localhost:5000/api
VITE_GITHUB_CLIENT_REPO=https://github.com/developer/crowdfunding-client
VITE_GITHUB_SERVER_REPO=https://github.com/developer/crowdfunding-server
VITE_IMGBB_API_KEY=mock_key
